---
import { Image } from 'astro:assets';
import Logo01 from '../clientLogos/8abfbbfa34b697d39ecf.svg';
import Logo02 from '../clientLogos/AXA_Logo.svg.png';
import Logo03 from '../clientLogos/Demeter_RGB.png';
import Logo04 from '../clientLogos/IMC-Logo_tagline_2022.png';
import Logo05 from '../clientLogos/Nobi-Logo.avif';
import Logo06 from '../clientLogos/Takeda_Pharmaceutical_Company_logo.svg.png';
import Logo07 from '../clientLogos/Volksbank_Logo.svg.png';
import Logo08 from '../clientLogos/porsche-design-brand-logo.png';
import Logo09 from '../clientLogos/arg-logo.png';
import Logo10 from '../clientLogos/logo-das-frischeinstitut.png';
import Logo11 from '../clientLogos/logo-sporty.png';
import Logo12 from '../clientLogos/logo.png';

---
<section>

  <!-- <div class="clientTop">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
      </svg>
  </div> -->

  <h2 class="light">Referenzen</h2>
  <div class="scroller">
    <div class="scroller__inner">
      <Image class="img" src={Logo01} alt="Cornelsen Verlag Logo" loading="eager"/>
      <Image class="img" src={Logo02} alt="AXA Versicherung Logo" loading="eager"/>
      <Image class="img" src={Logo03} alt="Demeter Bio Logo" loading="eager"/>
      <Image class="img" src={Logo04} alt="IMC Learning Logo" loading="eager"/>
      <Image class="img" src={Logo05} alt="Nobi Logo" loading="eager"/>
      <Image class="img" src={Logo06} alt="Takeda Pharma Logo" loading="eager"/>
      <Image class="img" src={Logo07} alt="Volksbank Logo" loading="eager"/>
      <Image class="img" src={Logo08} alt="Porsche Design Logo" loading="eager"/>
      <Image class="img" src={Logo09} alt="Visit Argentinien Logo" loading="eager"/>
      <Image class="img" src={Logo10} alt="Das Frischeinstitut Logo" loading="eager"/>
      <Image class="img" src={Logo11} alt="MrsSporty Logo" loading="eager"/>
      <Image class="img" src={Logo12} alt="Institut Esthederm Logo" loading="eager"/>

    </div>
  </div>

  <!-- <div class="clientBottom">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
  </div> -->
</section>

<style>

 section {
    background-color: var(--clr-bg-dark-full);
    padding: var(--space-l) 0;
    position: relative;
  }

  .clientTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .clientTop svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 20px;
  }

  .clientTop .shape-fill {
    fill: #BDD9E5;
  }

  .clientBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .clientBottom svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 20px;
    transform: translateY(1px);
  }

  .clientBottom .shape-fill {
    fill: #BDD9E5;
  }

  h2 {
    margin-bottom: 0;
  }


  .scroller {
    max-width: 100vw;
    margin: 0 auto;
  }

  .scroller__inner {
    padding-block: var(--space-l);
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
  }

  .scroller[data-animated="true"] {
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 20%, white 80%,transparent);
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%,transparent);
  }

  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 40s linear infinite;
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 2.5rem));
    }
  }

  .img {
    height: 50px;
    width: auto;
  }
</style>

<script>
  const scrollers = document.querySelectorAll('.scroller');

  if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
    addAnimation();
  }

  function addAnimation() {
    scrollers.forEach(scroller => {
      scroller.setAttribute('data-animated', 'true');

      const scrollerInner = scroller.querySelector('.scroller__inner');
      const scrollerContent = Array.from(scrollerInner.children);

      scrollerContent.forEach(item => {
        const duplicatedItem = item.cloneNode(true);

        if (duplicatedItem instanceof Element) {
          duplicatedItem.setAttribute('aria-hidden', 'true');
          scrollerInner.appendChild(duplicatedItem);
        }
      })
    })
  }

</script>
